body{
    background-color:rgb(73, 2, 2)
}

img{
    display: block;
    margin: 20px auto;
    height: 520px;
}

.under_text{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color:rgb(231, 208, 0);
}